[Unit]
Description=Phosphor Button Handler
Wants=xyz.openbmc_project.Chassis.Buttons.service
After=xyz.openbmc_project.Chassis.Buttons.service

[Service]
Restart=always
ExecStart=/usr/bin/button-handler

[Install]
WantedBy=multi-user.target

